/* timeline container */
.Timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  width: 700px;
  /* max-height: 100%; */
  min-height: max-content;
}

/* .Timeline:hover {
  overflow-y: scroll;
} */

/* Designing for scroll-bar */
.Timeline::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
  height: 8px;
}

/* Handle */
.Timeline::-webkit-scrollbar-thumb {
  background: rgb(24, 119, 242);
  border-radius: 5px;
}

/* make the top and bottom shorter to fit inside div */
.Timeline::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 70px;
}

.Timeline::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .Timeline {
    width: 600px;
  }
}

@media (max-width: 1100px) {
  .Timeline {
    width: 70%;
    margin-left: 20px;
  }
}

@media (max-width: 900px) {
  .Timeline {
    width: 90%;
  }
}
