/* navbar component */
.Nav {
  min-width: 100vw;
  display: flex;
  color: rgb(28, 30, 33);
  padding: 0px 16px 0 16px;
  flex-wrap: wrap;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.13);
  background-color: white;
}

/* left section of navbar */
.nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

/* facebook logo */
.nav-left > a > img {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

/* container for searchbar */
.searchbar-container {
  display: flex;
  align-items: center;
  height: 40px;
  width: 240px;
  border-radius: 50px;
  padding-left: 12px;
  margin-left: 12px;
  background-color: rgb(240, 242, 245);
}

/* search icon  */
.searchbar-container > svg {
  background: none;
  width: 20px;
  height: 20px;
}

/* search bar */
.searchbar-container > input {
  border: none;
  outline: none;
  padding: 7px 7px;
  font-size: 16px;
  color: rgb(96, 103, 112);
  background-color: rgb(240, 242, 245);
}

/* middle section container */
.nav-middle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  height: 56px;
}

/* home/profile containers */
.nav-middle > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-bottom: 3px solid blue;
  width: 112px;
  cursor: pointer;
}

/* pictures in home/profile containers */
.nav-middle > div > svg {
  height: 28px;
  width: 28px;
  color: blue;
}

/* right section of navbar */
.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

/* profile picture and name container */
.nav-right-profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50px;
  margin-right: 20px;
}

.nav-right-profile-container:hover {
  background-color: rgb(240, 242, 245);
}

/* profile picture  */
.nav-right-profile-container > img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  font-size: 15px;
  margin-right: 5px;
}

/* profile name */
.nav-right-profile-container > div {
  font-size: 15px;
  font-weight: 600;
}

/* container for down arrow */
.down-arrow-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
  background-color: rgb(240, 242, 245);
}

.down-arrow {
  pointer-events: none;
}

/* navbar down arrow */
.down-arrow-container:hover {
  filter: brightness(0.95);
}

/* css for dropdown menu */

/* dropdown menu */
.profile-menu {
  position: absolute;
  transform: matrix(1, 0, 0, 1, -15, 48);
  font-size: 12px;
  top: 0;
  right: 0;
  padding: 9px;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0,
    rgba(255, 255, 255, 0.5) 0 0 0 1px inset;
}

.profile-menu-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* dropdown menu ul */
.profile-menu-inner > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* each li in ul for dropdown menu */
.profile-menu-inner > ul > li {
  display: flex;
  align-items: center;
  background-color: white;
}

/* profile container in dropdown */
.profile-menu-first {
  font-size: 17px;
  font-weight: 600;
  color: rgb(5, 5, 5);
  cursor: pointer;
  border-radius: 6px;
  padding: 5px 50px 5px 5px;
  margin-bottom: 6px;
}

.profile-menu-first:hover {
  background-color: rgb(240, 242, 245);
}

/* profile picture in dropdown */
.profile-menu-first > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: white;
}

/* view friend request text */
.profile-menu-first > div > p {
  font-size: 15px;
  color: rgb(101 103 107, green, blue);
  font-weight: 400;
  margin-top: 2px;
}

/* line break below profile */
.profile-menu-inner > ul > div {
  width: 100%;
  border-bottom: 0.3px solid rgb(160, 158, 158);
}

/* view friend requests section */
.profile-menu-second {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 6px;
}

.profile-menu-second:hover {
  background-color: rgb(240, 242, 245);
}

/* image container */
.profile-menu-second > div {
  height: 36px;
  width: 36px;
  background-color: rgb(240, 242, 245);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* image */
.profile-menu-second > div > svg {
  height: 20px;
  width: 20px;
}

/* view friend requests text */
.profile-menu-second > p {
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}

/* Log out container */
.profile-menu-third {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 6px;
}

.profile-menu-third:hover {
  background-color: rgb(240, 242, 245);
}

/* image container */
.profile-menu-third > div {
  height: 36px;
  width: 36px;
  background-color: rgb(240, 242, 245);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* image */
.profile-menu-third > div > svg {
  height: 20px;
  width: 20px;
}

/* log out text */
.profile-menu-third > p {
  margin-right: 7px;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}

@media (max-width: 740px) {
  .nav-middle {
    display: none;
  }
}
