* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body,
html {
  background-color: rgb(240, 242, 245);
  overflow-x: hidden;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(29, 33, 41);
  opacity: 0.4;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(29, 33, 41);
  opacity: 0.4;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(29, 33, 41);
  opacity: 0.4;
}

a {
  text-decoration: none;
  color: rgb(29, 33, 41);
}

li {
  list-style-type: none;
}
