.ProfileAbout {
  width: 940px;
}

.ProfileAbout > * {
  min-width: 100%;
}

@media (max-width: 850px) {
  .ProfileAbout {
    transform: scale(0.8);
    transform-origin: top;
  }
}

@media (max-width: 675px) {
  .ProfileAbout {
    transform: scale(0.7);
    transform-origin: top;
  }
}

@media (max-width: 600px) {
  .ProfileAbout {
    transform: scale(0.6);
    transform-origin: top;
  }
}

@media (max-width: 520px) {
  .ProfileAbout {
    transform: scale(0.5);
    transform-origin: top;
  }
}

@media (max-width: 430px) {
  .ProfileAbout {
    transform: scale(0.4);
    transform-origin: top;
  }
}

@media (max-width: 325px) {
  .ProfileAbout {
    transform: scale(0.3);
    transform-origin: top;
  }
}
