.Friends {
  padding: 20px 16px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  margin-bottom: 20px;
  border-radius: 8px;
}

.Friends > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Friends > header > h2 {
  color: rgb(5, 5, 5);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.Friends > header > div {
  color: rgb(33, 111, 219);
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.Friends-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Friends-list-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 16px;
  margin: 0 0 8px;
}

.Friends-list-container > div > div {
  display: flex;
  align-items: center;
}

.Friends-list-container > div > div > img {
  height: 80px;
  width: 80px;
  border-radius: 8px;
  margin-right: 10px;
}

.Friends-list-container > div > div > span {
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
}

.Friends-list-container > div > button {
  background-color: rgb(27, 116, 228);
  border-radius: 6px;
  color: white;
  line-height: 20px;
  font-size: 15px;
  font-weight: 600;
  padding: 0 12px;
  height: 36px;
  border: none;
  outline: none;
  cursor: pointer;
  right: 0;
  margin-right: 70px;
  white-space: nowrap;
  overflow: hidden;
}
