.OptionsModals {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(244, 244, 244, 0.8);
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 548px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px o, rgba(0, 0, 0, 0.1) 0 2px 4px 0,
    rgba(255, 255, 255, 0.5) 0 0 0 1px inset;
  border-radius: 8px;
  color: rgb(28, 30, 33);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  z-index: 100;
  text-align: center;
}

.modal-content-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 12px 8px 16px 8px;
}

.modal-content-body > label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  padding: 4px;
}

.modal-content-body > label:hover {
  filter: brightness(0.95);
  -webkit-filter: brightness(0.95);
  background-color: rgb(236, 241, 255);
}

.modal-content-body > label > div {
  height: 60px;
  width: 60px;
  background-color: rgb(228, 230, 235);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.modal-content-body > label > span {
  font-size: 17px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Bio-content-body {
  padding: 20px;
  width: 100%;
}

.Bio-content-body > textarea {
  resize: none;
  width: 100%;
  height: 80px;
  padding: 9px;
  background-color: rgb(240, 242, 245);
  border: 1px solid rgb(206, 208, 212);
  border-radius: 6px;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  outline: none;
  margin-bottom: 12px;
}

.Bio-content-body > button {
  color: rgb(24, 119, 242);
  background-color: rgb(231, 243, 255);
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 6px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 600;
  padding: 9px;
}

.Bio-content-body > button:hover {
  filter: brightness(0.94);
  -webkit-filter: brightness(0.94);
}

.Bio-content-body > button:active {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
}

@media (max-width: 725px) {
  .modal-content {
    transform: scale(0.8);
    transform-origin: top;
  }
}

@media (max-width: 450px) {
  .modal-content {
    transform: scale(0.6);
    transform-origin: top;
  }
}
