.About {
  padding: 20px 16px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* intro header */
.About > h2 {
  margin-bottom: 10px;
  color: rgb(5, 5, 5);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

/* each list container */
.About > ul > li {
  padding: 10px 0;
}

/* container inside li w/ react icon and text */
.About > ul > li > div {
  display: flex;
  align-items: center;
  color: rgb(5, 5, 5);
  font-size: 15px;
  font-weight: 600;
}

/* user information */
.About > ul > li > p {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
  padding: 10px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-content: center;
  display: flex;
}
