.ContactsCard {
  position: fixed;
  display: flex;
  width: 390px;
  max-width: 390px;
  margin-left: -405px;
  padding: 10px 22px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
  background-color: white;
}

.ContactsCard > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.ContactsCard > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 6px 0 12px;
}

.ContactsCard > div > div > span {
  font-weight: 800;
  font-size: 19px;
  color: rgb(28, 30, 33);
}

.ContactsCard > div > div {
  display: flex;
  font-weight: 600;
  font-size: 12px;
  color: rgb(101, 103, 107);
  align-items: center;
  margin-bottom: 18px;
}
