.ProfileIndex {
  border: 1px solid black;
  width: 940px;
}

.ProfileIndex-container > * {
  max-width: 60%;
}

@media (max-width: 900px) {
  .ProfileIndex {
    width: 100vw;
  }

  .ProfileIndex > * {
    /* transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform-origin: top; */
    width: calc(900px * 0.8);
  }
}

@media (max-width: 700px) {
  .ProfileIndex > * {
    width: calc(720px * 0.8);
  }
  /* i can do scaling instead of calc!!! */
}

@media (max-width: 500px) {
  .ProfileIndex > * {
    width: calc(720px * 0.8);
  }
}

@media (max-width: 350px) {
}

@media (max-width: 275px) {
}
