.Contacts {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.Contacts > ul {
  width: 60%;
}

.Contacts > ul > h3 {
  padding: 10px 16px 10px 16px;
  font-size: 17px;
  font-weight: 600;
  color: rgb(101, 103, 107);
}

.Contacts > ul > div {
  border-top: 1px solid rgba(212, 211, 211, 0.8);
  border-bottom: 1px solid rgba(212, 211, 211, 0.8);
}

.Contacts > ul > div > h3 {
  padding: 10px 16px;
  font-size: 17px;
  font-weight: 600;
  color: rgb(101, 103, 107);
}

.Contacts > ul > div > a > li {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgb(5, 5, 5);
  padding: 10px 16px;
  width: 100%;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  z-index: 1;
}

/* prevents mouse leave/enter events from triggering inside container */
.Contacts > ul > div > a > li * {
  pointer-events: none;
}

.Contacts > ul > div > a > li:hover {
  background-color: rgba(212, 211, 211, 0.418);
}

.Contacts > ul > div > a > li > img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
}

.Contacts > ul > div > a > li > p {
  padding: 12px 0;
}

@media (max-width: 1600px) {
  .Contacts > ul {
    width: 80%;
  }
}

@media (max-width: 1400px) {
  .Contacts {
    justify-content: flex-start;
  }
  .Contacts > ul {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .Contacts {
    display: none;
  }
}
